.overlayContainer {


  z-index: 1;
  background-color: transparent; 
  padding: 0.5rem;
}

.overlayContainer:hover .textBox,

.overlayContainer:hover .circle,
.overlayContainer:hover .innerCircle {

  border-color: orange;
  color: orange; 
}
.overlayContainer:hover .line{
  background-color: orange;
}

.textBox {
  padding: 1rem;
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
}

.line {
  width: 4.5rem;
  height: 5px;
  background-color: black;
}

.circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

.innerCircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rotatetextbox{
  transform: rotate(180deg);
}
.overlayContainer {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.popIn {
  opacity: 1;
}
 

@media (min-width: 400px) and (max-width: 1350px) {
  .textBox {
    padding: 0.5rem;
  }

  .line {
    width: 3rem;
    height: 5px;
    background-color: black;
  }

}